@import '../abstract/variables';

nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.2rem;

    h2{
        font-family: $font-heading;
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    button{
        background-image: url('../images/icon-hamburger.svg');
        background-size: cover;
        border: none;
        height: 2rem;
        width: 2rem;
    }

    .header__nav--secondbtn{
        background-image: url('../images/icon-close.svg');
        background-size: cover;
        border: none;
        height: 2rem;
        width: 2rem;

        display: none;
    }
}