@import '../abstract/variables';
@import '../abstract/utilities';

main{
    .main__section--intro{
        background-color: $color-dark-violet;
        height: 145vh;
        
        .section__intro--img{
            width: 100vw;
        }
        
        .first-style{
            background-image: url('../images/bg-pattern-intro-left-mobile.svg');
            background-position: cover;
            background-repeat: no-repeat;
            bottom: .5vh;
            height: 25vh;
            position: relative;
        }
        
        .section__intro--container{
            display: flex;
            flex-direction: column;
            position: relative;
            bottom: 13vh;
        }
        
        h1{
            @include textFormat;
            font-size: 2.8rem;
            padding: 1rem 1.4rem 1rem 1.4rem;
        }
        
        p{
            @include textFormat;
            line-height: 1.5rem;
            padding-left: 1.7rem;
            padding-right: 1.7rem;
        }
        
        a{
            @include textFormat;
            border: 1px solid $color-very-light-gray;
            display: inline-block;
            margin: 3rem auto 0 auto;
            padding: .5rem 2rem;
            text-decoration: none;
        }

        .second-style{
            background-image: url('../images/bg-pattern-intro-right-mobile.svg');
            background-position: cover;
            background-repeat: no-repeat;
            bottom: 20vh;
            height: 25vh;
            left: 67vw;
            position: relative;
            width: 33vw;
        }
    }

    .section__container{
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            
            hr{
                margin-bottom: 2rem;
                width: 40vw;
            }

            .section__container--title{
                font-family: $font-heading;
                font-size: 2.8rem;
                text-align: center;
                margin-bottom: 2.5rem;
            }

            .fa-bolt-lightning{
                @include iconFormat;
                padding: 1rem 1.1rem;
            }

            .section__container--subtitle{
                font-family: $font-heading;
                font-size: 1.5rem;
                text-align: center;
            }

            .section__container--text{
                @include textFormat;
                color: $color-dark-grayish-violet;
                padding: auto 1.6rem;
                margin-bottom: 4rem;
            }
        }

        section{
            .fa-dollar-sign{
                @include iconFormat;
                padding-left: 1.1rem;
                padding-right: 1.2rem;
            }
        }

        section{
            .fa-user{
                @include iconFormat;
            }
        }
    }
}