nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.2rem;
}
nav h2 {
  font-family: "DM Serif Display";
  font-size: 1.5rem;
  text-transform: uppercase;
}
nav button {
  background-image: url("../images/icon-hamburger.svg");
  background-size: cover;
  border: none;
  height: 2rem;
  width: 2rem;
}

main .main__section--intro {
  background-color: hsl(256deg, 26%, 20%);
  max-height: 145vh;
}
main .main__section--intro .section__intro--img {
  width: 100vw;
}
main .main__section--intro .section__intro--container {
  background-image: url("../images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
main .main__section--intro h1 {
  color: hsl(0deg, 0%, 98%);
  font-family: "Karla";
  text-align: center;
  line-height: 1.5rem;
  font-size: 2.8rem;
  line-height: 3rem;
  padding: 5.7rem 1.4rem 1rem 1.4rem;
}
main .main__section--intro p {
  color: hsl(0deg, 0%, 98%);
  font-family: "Karla";
  text-align: center;
  line-height: 1.5rem;
  line-height: 1.5rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}
main .main__section--intro a {
  color: hsl(0deg, 0%, 98%);
  font-family: "Karla";
  text-align: center;
  line-height: 1.5rem;
  border: 1px solid hsl(0deg, 0%, 98%);
  display: inline-block;
  margin: 3rem auto 0 auto;
  padding: 0.5rem 2rem;
  text-decoration: none;
}
main .main__section--intro .second-style {
  background-image: url("../images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  bottom: 10vh;
  height: 21rem;
  position: relative;
  width: 100%;
}
main .section__container section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 6rem;
}
main .section__container section hr {
  margin-bottom: 2rem;
  width: 40vw;
}
main .section__container section .section__container--title {
  font-family: "DM Serif Display";
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
main .section__container section .fa-bolt-lightning {
  background-color: hsl(216deg, 30%, 68%);
  border-radius: 50%;
  color: hsl(0deg, 0%, 98%);
  padding: 1.5rem;
  padding: 1.5rem 1.6rem;
}
main .section__container section .section__container--subtitle {
  font-family: "DM Serif Display";
  font-size: 1.5rem;
  text-align: center;
}
main .section__container section .section__container--text {
  color: hsl(0deg, 0%, 98%);
  font-family: "Karla";
  text-align: center;
  line-height: 1.5rem;
  color: hsl(273deg, 4%, 51%);
  margin-bottom: 4rem;
  padding: 0 1.6rem;
}
main .section__container section .fa-dollar-sign {
  background-color: hsl(216deg, 30%, 68%);
  border-radius: 50%;
  color: hsl(0deg, 0%, 98%);
  padding: 1.5rem;
  padding-left: 1.6rem;
  padding-right: 1.7rem;
}
main .section__container section .fa-user {
  background-color: hsl(216deg, 30%, 68%);
  border-radius: 50%;
  color: hsl(0deg, 0%, 98%);
  padding: 1.5rem;
}
main .findout {
  align-items: center;
  background-color: hsl(256deg, 26%, 20%);
  background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  margin: 4rem 2rem 8rem 2rem;
}
main .findout h2 {
  color: hsl(0deg, 0%, 98%);
  font-family: "Karla";
  font-size: 2rem;
  padding: 3rem 1.5rem;
  text-align: center;
}
main .findout a {
  border: 1px solid hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 98%);
  display: inline-block;
  font-family: "Karla";
  margin-bottom: 3rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  background-image: url("../images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  margin-bottom: 4rem;
}
footer h2 {
  font-family: "Karla";
  font-size: 2rem;
  font-weight: 700;
  padding: 4rem 1.5rem 1.5rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
footer .footer__container--img {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 4rem;
}
footer hr {
  width: 80vw;
}
footer h3 {
  color: hsl(273deg, 4%, 51%);
  font-family: "Karla";
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
}
footer ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer ul li {
  font-family: "Karla";
  text-transform: uppercase;
  font-weight: 700;
}

body {
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */