nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.2rem;
}
nav h2 {
  font-family: "DM Serif Display";
  font-size: 1.5rem;
  text-transform: uppercase;
}
nav button {
  background-image: url("../images/icon-hamburger.svg");
  background-size: cover;
  border: none;
  height: 2rem;
  width: 2rem;
}

main .main__section--intro {
  background-color: hsl(256deg, 26%, 20%);
  height: 145vh;
}
main .main__section--intro .section__intro--img {
  width: 100vw;
}
main .main__section--intro .first-style {
  background-image: url("../images/bg-pattern-intro-left-mobile.svg");
  background-position: cover;
  background-repeat: no-repeat;
  bottom: 0.5vh;
  height: 25vh;
  position: relative;
}
main .main__section--intro .section__intro--container {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 13vh;
}
main .main__section--intro h1 {
  color: hsl(0deg, 0%, 98%);
  font-family: "Karla";
  text-align: center;
  line-height: 1.5rem;
  font-size: 2.8rem;
  padding: 1rem 1.4rem 1rem 1.4rem;
}
main .main__section--intro p {
  color: hsl(0deg, 0%, 98%);
  font-family: "Karla";
  text-align: center;
  line-height: 1.5rem;
  line-height: 1.5rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}
main .main__section--intro a {
  color: hsl(0deg, 0%, 98%);
  font-family: "Karla";
  text-align: center;
  line-height: 1.5rem;
  border: 1px solid hsl(0deg, 0%, 98%);
  display: inline-block;
  margin: 3rem auto 0 auto;
  padding: 0.5rem 2rem;
  text-decoration: none;
}
main .main__section--intro .second-style {
  background-image: url("../images/bg-pattern-intro-right-mobile.svg");
  background-position: cover;
  background-repeat: no-repeat;
  bottom: 20vh;
  height: 25vh;
  left: 67vw;
  position: relative;
  width: 33vw;
}
main .section__container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
main .section__container section hr {
  margin-bottom: 2rem;
  width: 40vw;
}
main .section__container section .section__container--title {
  font-family: "DM Serif Display";
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
main .section__container section .fa-bolt-lightning {
  background-color: hsl(216deg, 30%, 68%);
  border-radius: 50%;
  color: hsl(0deg, 0%, 98%);
  padding: 1rem;
  padding: 1rem 1.1rem;
}
main .section__container section .section__container--subtitle {
  font-family: "DM Serif Display";
  font-size: 1.5rem;
  text-align: center;
}
main .section__container section .section__container--text {
  color: hsl(0deg, 0%, 98%);
  font-family: "Karla";
  text-align: center;
  line-height: 1.5rem;
  color: hsl(273deg, 4%, 51%);
  padding: auto 1.6rem;
  margin-bottom: 4rem;
}
main .section__container section .fa-dollar-sign {
  background-color: hsl(216deg, 30%, 68%);
  border-radius: 50%;
  color: hsl(0deg, 0%, 98%);
  padding: 1rem;
  padding-left: 1.1rem;
  padding-right: 1.2rem;
}
main .section__container section .fa-user {
  background-color: hsl(216deg, 30%, 68%);
  border-radius: 50%;
  color: hsl(0deg, 0%, 98%);
  padding: 1rem;
}

body {
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */